@model ContractorDocuments.Application.Projects.ViewModels.BoardViewModel
@{
    ViewData["Title"] = "نمای تخته " + Model.Title;
    Layout = "_BoardLayout";
}
<nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="z-index:900;background:#2125294a;backdrop-filter: blur(4px);">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="/Admin/Dashboard" style="filter:drop-shadow(-2px 3px 5px black);">@Model.Title</a>
        <div class="collapse navbar-collapse" id="board-setting-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Overview">
                        <i class="far fa-print me-1"></i>
                        نسخه چاپی
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link">
                        <h5 class="fw-bold">هزینه کل: @Model.TotalExpense.ToString("N0")</h5>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu" style="right:auto;left:0;">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-placement="bottom" data-bs-target="#project-location-modal" data-bs-toggle="modal">
                                <i class="fa fa-map me-1"></i>
                                موقعیت مکانی
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="lists-container py-3">
    @if (Model.Stages != null && Model.Stages.Count > 0)
    {
        foreach (var constructionStage in Model.Stages)
        {
            <div class="list">
                <div class="d-flex justify-content-between align-items-center px-1 py-2 fw-bold">
                    <div class="w-100">
                        <span class="h4 fw-bold m-0">@constructionStage.Name</span>
                    </div>
                    <div dir="ltr">
                        <span class="h6 fw-bold m-0" data-money="@constructionStage.TotalExpense.ToString("N0")"></span>
                    </div>
                </div>
                <ul class="list-items">
                    <li class="list-item material-list-item" data-stage-id="@constructionStage.Id">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="h5 text-primary">مصالح</div>
                            @* <div class="fw-bold">0</div> *@
                        </div>
                        <div class="small">
                            @if (constructionStage.Materials != null && constructionStage.Materials.Count > 0)
                            {

                                @foreach (var material in constructionStage.Materials)
                                {
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>@material.Name</span>
                                        <span>@((material.UnitPrice * material.Amount).ToString("N0"))</span>
                                    </div>
                                }
                            }
                        </div>
                    </li>
                    <li class="list-item expenses-list-item" data-bs-toggle="modal" data-bs-target="#expenses-card-modal" data-stage-id="@constructionStage.Id">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="h5 text-primary">دیگر مخارج</div>
                            <div class="fw-bold">0</div>
                        </div>
                        <div class="small">
                        </div>
                    </li>
                    <li class="list-item" data-bs-toggle="modal" data-bs-target="#equipments-card-modal" data-stage-id="@constructionStage.Id">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="h5 text-secondary">ابزارها و تجهیزات</div>
                            <div class="fw-bold"></div>
                        </div>
                        <div class="small">
                        </div>
                    </li>
                    <li class="list-item" data-bs-toggle="modal" data-bs-target="#contractors-card-modal" data-stage-id="@constructionStage.Id">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="h5 text-secondary">پیمانکاران</div>
                            <div class="fw-bold"></div>
                        </div>
                        <div class="small">
                        </div>
                    </li>
                </ul>
            </div>
        }
    }
    <div id="add-stage-item" class="list">
        <button class="add-card-btn btn text-start" data-bs-toggle="modal" data-bs-target="#add-stage-modal">+ مرحله جدید</button>
    </div>
</div>
<div>
    <input id="project-id" name="ProjectId" value="@Model.Id" type="hidden" />
</div>
@* Location Map *@
<div class="modal fade" tabindex="-1" id="project-location-modal" aria-labelledby="ProjectLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">موقعیت مکانی پروژه</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="map-form-control" id="map"></div>
                <input id="latitude-input" type="hidden" value="@Model.Latitude" />
                <input id="longitude-input" type="hidden" value="@Model.Longitude" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-primary">مسیریابی</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Stage -->
<div class="modal" tabindex="-1" id="add-stage-modal" aria-labelledby="AddStageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="/Admin/Project/AddConstructStage">
            <div class="modal-header">
                <h5 class="modal-title">مرحله جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="projectId" value="@Model.Id" />
                <select id="stages-select-control" name="constructStageId" class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                <button type="submit" class="btn btn-primary">ذخیره</button>
            </div>
        </form>
    </div>
</div>
<!-- Supplies Card Modal -->
<div class="modal modal-xl fade" id="supplies-card-modal" tabindex="-1" aria-labelledby="supplies-card-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="supplies-card-modal-label"><i class="fa fa-block-brick me-2"></i> مصالح</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="accordion" id="supplies-accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#new-supply" aria-expanded="false" aria-controls="collapseOne">
                                            تعریف مصالح جدید
                                        </button>
                                    </h5>
                                    <div id="new-supply" class="accordion-collapse collapse" data-bs-parent="#supplies-accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div id="material-select-placement" class="col-md-6 mb-3">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="new-material-purchased-on" class="mb-1">تاریخ خرید</label>
                                                    <input name="PurchasedOn" class="form-control text-left" id="new-material-purchased-on" placeholder="yyyy/mm/dd" dir="ltr" />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="new-material-amount" class="mb-1">مقدار</label>
                                                    <input id="new-material-amount" type="number" dir="ltr" class="form-control" name="Amount" />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="new-material-unit-price" class="mb-1">مبلغ واحد</label>
                                                    <input id="new-material-unit-price" type="number" dir="ltr" class="form-control" name="UnitPrice" />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="new-material-transport-cost" class="mb-1">هزینه حمل و نقل</label>
                                                    <input name="TransportCost" class="form-control ltr text-left" type="number" dir="ltr" id="new-material-transport-cost" placeholder="0" />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="new-material-total-net-profit" class="mb-1">سود خالص</label>
                                                    <input class="form-control text-left" name="TotalNetProfit" type="number" dir="ltr" id="new-material-total-net-profit" placeholder="0" />
                                                </div>
                                            </div>
                                            <div>
                                                <button id="add-new-stage-material-btn" class="btn btn-primary">افزودن</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="scrollable" style="max-height:350px">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>مقدار</th>
                                <th>مبلغ واحد</th>
                                <th>هزینه حمل و نقل</th>
                                <th>هزینه کل</th>
                                <th>سود خالص</th>
                                <th>تاریخ خرید</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody id="material-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<!-- Remove Supply Modal -->
<div class="modal fade" id="remove-material-modal" tabindex="-1" aria-labelledby="remove-material-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="remove-material-modal-label">آیا مطمعنید که می خواهید این رکورد را حذف کنید؟</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button id="remove-stage-material-btn" type="button" class="btn btn-danger">حذف</button>
            </div>
        </div>
    </div>
</div>
<!-- Transfer Supply Modal -->
<div class="modal fade" id="transfer-material-modal" tabindex="-1" aria-labelledby="transfer-material-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="transfer-material-modal-label">جابجایی در مرحله دیگر</h1>
                <button type="button" class="btn ms-auto fs-4" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <select id="transfer-supply-stage-select" class="form-control">
                        <option>انتخاب کنید</option>
                        @if (Model.Stages != null && Model.Stages.Count > 0)
                        {
                            foreach (var constructionStage in Model.Stages)
                            {
                                <option value="@constructionStage.Id">@constructionStage.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid">
                    <button id="transfer-supply-btn" type="button" class="btn btn-primary">منتقل کردن</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Equipments modal -->
<div class="modal modal-xl fade" tabindex="-1" id="equipments-card-modal" aria-labelledby="EquipmentStageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="/Admin/Project/AddConstructStage">
            <div class="modal-header">
                <h5 class="modal-title">ابزارها و تجهیزات</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="far fa-person-digging h3 me-3"></i> این بخش در دست توسعه است ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </form>
    </div>
</div>

<!-- Contractors Card Modal -->
<div class="modal modal-xl fade" id="contractors-card-modal" tabindex="-1" aria-labelledby="contractors-card-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="contractors-card-modal-label">پیمانکاران</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="far fa-person-digging h3 me-3"></i> این بخش در دست توسعه است ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

<!-- Expenses Card Modal -->
<div class="modal modal-xl fade" id="expenses-card-modal" tabindex="-1" aria-labelledby="expenses-card-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="expenses-card-modal-label"><i class="fa fa-money-bill me-2"></i> هزینه های آزاد</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2">
                            <h6>اقدامات</h6>
                            <div class="d-flex flex-column gap-2">
                                <a id="add-expense-modal-btn" class="button-link" href="#">
                                    <span><i class="fa fa-plus me-1"></i></span>
                                    <span>افزودن جدید</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="scrollable">
                                <table class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>هزینه</th>
                                            <th>تاریخ پرداخت</th>
                                            <th>توضیحات تکمیلی</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody id="expense-table-body">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Expenses Card Modal -->
<div class="modal fade" id="add-expenses-card-modal" tabindex="-1" aria-labelledby="expenses-card-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="expenses-card-modal-label"><i class="far fa-comment-dollar"></i> هزینه جدید</h1>
                <button type="button" class="btn ms-auto fs-4" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div>
                                <label for="expenses-title" class="mb-1">عنوان</label>
                                <input id="expenses-title" type="text" class="form-control" placeholder="دستمزد کارگر ..." max="60" name="Title" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="expenses-amount" class="mb-1">مبلغ</label>
                                <div class="input-group">
                                    <input id="expenses-amount" class="form-control text-left" type="number" dir="ltr" placeholder="0" name="Amount" />
                                    <span class="input-group-text">تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="expenses-paid-on" class="mb-1">تاریخ پرداخت</label>
                                <input id="expenses-paid-on" class="form-control text-left" type="text" dir="ltr" placeholder="yyyy/mm/dd" name="PaidOn" />
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="expenses-description" class="mb-1">توضیحات تکمیلی</label>
                            <textarea id="expenses-description" class="form-control" rows="3" placeholder="توضیحات درصورت نیاز ..." maxlength="200" name="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid w-100">
                    <button id="add-expenses-btn" class="btn btn-lg btn-success" type="button">
                        <div class="spinner-border spinner-border-sm" role="status" style="display: none;">
                            <span class="visually-hidden">بارگیری ...</span>
                        </div>
                        افزودن
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/material-provider.js"></script>
    <script src="~/js/project-stage-expenses.js"></script>
    <script src="~/js/board.js"></script>
    <script src="~/js/project-map.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            board.init();
        });
    </script>
}